* {
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
}
body {
  width: 100vw;
  background-color: black;

}
.navbar__container {
  width: 100vw;
  height: max-content;
  /*! outline: 1px solid red; */
  /*! background: #808080db; */
  /*! position: fixed; */
  top: 0;
  left: 0;
  z-index: 1;
}
.navbar__content {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: end;
}
.navbar__content-list {
  display: flex;
  column-gap: 51.8px;
  box-sizing: content-box;
  padding-right: 158px;
  padding-left: 40px;
  --padding-vertical: 84px;
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
}
.navbar__content-list-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
}
.navbar__content-list-item {
  list-style: none;
}
.navbar__content-item {
  width: max-content;
  height: max-content;
  margin-right: auto;
  padding-left: 77px;
}

.banner__container {
  width: 100vw;
  height: 293px;
  overflow: clip;
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  overflow: visible;
  z-index: -3;
  align-items: center;
}
.banner__container > img {
  object-fit: cover;
  width: 284px;
  /*! height: auto; */
  /*! max-width: 100%; */
  /*! max-height: 94%; */
  border-radius: 445px;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 0;
  left: 66%;
  transform: translateX(-50%);
}
.banner__caption h2 {
  color: white;
  font-size: 1.6rem;
  z-index: 1;
}

.banner__caption {
  width: 36%;
  height: max-content;
  position: absolute;
  top: 73%;
  left: 20.3%;
  transform: translateY(-100%);
  box-sizing: content-box;
  --padding-left: 49.5px;
  --padding-bottom: 41px;
  padding: var(--padding-bottom) var(--padding-left);
  /*! background-color: gray; */
  overflow: visible;
  z-index: -2;
}
.banner__caption p {
  color: white;
  font-size: 1.2rem;
  z-index: 1;
  width: 376px;
}

.education__container {
  width: 28.9vw;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: start;
  column-gap: 319px;
  --background-color: #202020;
  --border-color: #131313;
  --border-width: 7px;
  --margin-horizontal: 0px;
  --margin-vertical: 45px;
  margin: var(--margin-vertical) var(--margin-horizontal);
  position: absolute;
  top: 20.0%;
  left: 55.6%;
}
.education__content {
  width: max-content;
  height: max-content;
  /*! outline: 1px solid red; */
  border: var(--border-width) solid var(--border-color);
  background: var(--background-color);
  box-sizing: content-box;
  padding: 27.3px;
}
.skills__content {
  width: max-content;
  height: max-content;
  /*! outline: 1px solid blue; */
  border: var(--border-width) solid var(--border-color);
  background: var(--background-color);
  box-sizing: content-box;
  padding: 11.3px;
}
.education__content h2 {
  color: white;
  text-align: center;
  font-size: 1.7rem;
  box-sizing: content-box;
  padding-bottom: 20px;
}
.education__content-item {
  width: max-content;
  height: max-content;
  outline: 1px solid blue;
}

.education__content h3 {
  color: white;
  font-size: 1.3rem;
  box-sizing: content-box;
  padding-bottom: 10px;
  margin-left: -2.5px;
}
.education__content-list-item {
  color: white;
  font-size: 1rem;
  line-height: 23.3px;
  position:relative;
}
.education__content-list {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  /*! list-style: none; */
  padding-left: 11.3px;
  padding-right: 10.7px;
  padding-bottom: 15.7px;
}
.education__content-list-item {
  width: 100%;
  height: max-content;
  box-sizing: content-box;
  padding-bottom: 19px;
}

.banner__skills-icon-list {
  list-style: none;
  display: flex;
  column-gap: 15.9px;
}
.skills__title-box h2 {
  text-align: center;
  box-sizing: content-box;
  padding: 0px 0px 10px 0px;
  color: white;
}



.banner__caption-background1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: gray;
  z-index: -1;
}
.banner__caption-background2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 18%;
  left: 5%;
  background-color: #bdba00;
  z-index: -2;
}

.skills__container {
  width: max-content;
  height: max-content;
  position: absolute;
  top: 3.7%;
  left: 55.5%;
  --background-color: #202020;
  --border-color: #131313;
  --border-width: 7px;
  --margin-horizontal: 0px;
  --margin-vertical: 45px;
}
.banner__skills-icon-list-item > img {
  width: 77.9px;
  height: auto;
}

.description__container {
  width: 100vw;
  height: 1016px;
  box-sizing: content-box;
  /*! padding-top: 106px; */
  /*! background-color: gray; */
  position: relative;
  z-index: -1;
}
.description__text-content {
  background-color: #686868;
  width: 37.3vw;
  height: max-content;
  position: absolute;
  top: 10.2%;
  left: 36.1%;
  box-sizing: content-box;
  padding-top: 86.2px;
  padding-bottom: 133px;
  padding-left: 50px;
  transform: translateX(-50%);
  padding-right: 41.9px;
}
.description__text-content p {
  font-size: 1.4rem;
  font-weight: normal;
  color: black;
  
}
.education__content-list-item p::before {
  content: "";
  position: absolute;
  left: -3%;
  top: 0.5em; /* aligns bullet vertically with first text line */
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

.description__content {
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: 4%;
}


.portfolio__container {
  width: 100vw;
  height: max-content;
  margin-top: 54px;
}
.portfolio__content {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__content-title {
  width: max-content;
  height: max-content;
  margin-bottom: 130px;
}
.portfolio__content-title h2 {
  color: white;
  font-size: 3.2rem;
}
.portfolio__content-items {
  width: 90%;
  height: max-content;
  display: flex;
  justify-content: start;
}
.portfolio__content-item a {
  /*! display:block; */
  width: max-content;
  height: max-content;
  text-decoration: none;
  display: flex;
}
.portfolio__content-item {
  width: max-content;
  height: max-content;
}
.portfolio__content-item a img {
object-fit:cover;
  width: 337px;
height: 263px;
}
.portfolio__content-item-text > h2 {
  color: white;
  text-align: center;
  margin-bottom: 12px;
  font-size: 2.2rem;
}

.portfolio__content-item-keywords {
  display: flex;
  justify-content: start;
  column-gap: 10px;
}
.portfolio__content-item-text {
  margin-left: 34px;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.portfolio__content-item-text > p {
  color: white;
  font-size: 1.5rem;
  width: 821.5px;
}
.portfolio__content-item-keywords p {
  color: white;
  font-size: 1rem;
}