* {
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
}
body {
  width: 100vw;
  background-color: black;

}
.navbar__container {
  width: 100vw;
  height: max-content;
  /*! outline: 1px solid red; */
  /*! background: #808080db; */
  /*! position: fixed; */
  top: 0;
  left: 0;
  z-index: 1;
}
.navbar__content {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: end;
}
.navbar__content-list {
  display: flex;
  column-gap: 51.8px;
  box-sizing: content-box;
  padding-right: 158px;
  padding-left: 40px;
  --padding-vertical: 84px;
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
}
.navbar__content-list-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
}
.navbar__content-list-item {
  list-style: none;
}
.navbar__content-item {
  width: max-content;
  height: max-content;
  margin-right: auto;
  padding-left: 77px;
}

.banner__container {
  width: 100vw;
  height: 293px;
  overflow: clip;
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  overflow: visible;
  z-index: -3;
  align-items: center;
  margin-top: 75px;
}
.banner__container > img {
  object-fit: cover;
  width: 284px;
  /*! height: auto; */
  /*! max-width: 100%; */
  /*! max-height: 94%; */
  border-radius: 445px;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 0;
  left: 66%;
  transform: translateX(-50%);
}
.header-section__text h2 {
  color: white;
  font-size: 2.6rem;
  /*! z-index: 1; */
  margin-bottom: 28.6px;
}

.header-section__text {
  width: 394px;
  height: max-content;
  margin-bottom: 19px;
}
.header-section__text p {
  color: white;
  font-size: 1.4rem;
  z-index: 1;
  /*! width: 376px; */
  line-height: 1.3em;
}

.education__container {
  --background-color: #202020;
  --border-color: #131313;
  --border-width: 7px;
  --margin-horizontal: 0px;
  --margin-vertical: 45px;
  width:100vw;
  height:max-content;
  display:flex;
  justify-content:center;
    
  margin-bottom: 66px;
}
.education__content {
  width: 47%;
  height: max-content;
  /*! outline: 1px solid red; */
  border: var(--border-width) solid var(--border-color);
  background: var(--background-color);
  box-sizing: content-box;
  border-radius: 17.7px;
  padding-bottom: 45px;
  padding-left: 10px;
  padding-right: 10px;
}
.skills__content {
  width: max-content;
  height: max-content;
  /*! outline: 1px solid blue; */
  border: var(--border-width) solid var(--border-color);
  background: var(--background-color);
  box-sizing: content-box;
  padding: 17.1px 22.1px;
  border-radius: 17.7px;
}
.education__content h2 {
  color: white;
  text-align: center;
  font-size: 1.7rem;
  box-sizing: content-box;
  padding-bottom: 41px;
  padding-top: 38px;
}
.education__content-item {
  width: max-content;
  height: max-content;
  outline: 1px solid blue;
}

.education__content h3 {
  color: white;
  font-size: 1.3rem;
  box-sizing: content-box;
  padding-bottom: 21px;
  /*! margin-left: -2.5px; */
}
.education__content-list-item {
  color: white;
  font-size: 1.1rem;
  line-height: 23.3px;
  position:relative;
}
.education__content-list {
  width: auto;
  /*! height: max-content; */
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-left: 16.3px;
  /*! padding-right: 10.7px; */
  /*! padding-bottom: 15.7px; */
}
.education__content-list-item {
  /*! width: auto; */
  /*! height: max-content; */
  /*! box-sizing: content-box; */
  padding-bottom: 37px;
}

.banner__skills-icon-list {
  list-style: none;
  display: flex;
  column-gap: 15.9px;
}
.skills__title-box h2 {
  text-align: center;
  box-sizing: content-box;
  padding: 0px 0px 10px 0px;
  color: white;
}



.header-section__text-background1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: gray;
  z-index: -1;
}
.header-section__text-background2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 18%;
  left: 5%;
  background-color: #bdba00;
  z-index: -2;
}

.skills__container {
  width:100vw;
  height:max-content;
  display:flex;
  justify-content:center;
  --background-color: #202020;
  --border-color: #131313;
  --border-width: 7px;
  --margin-horizontal: 0px;
  --margin-vertical: 45px;
  margin-bottom: 75px;
}
.banner__skills-icon-list-item > img {
  width: 77.9px;
  height: auto;
}

.description__container {
  width: 100vw;
  height: max-content;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.description__text-content {
  background-color: #686868;
  width: 37.3vw;
  height: max-content;
  position: absolute;
  top: 0;
  left: 35.3%;
  box-sizing: content-box;
  padding-top: 51.7px;
  padding-bottom: 87px;
  padding-left: 49.1px;
  transform: translateX(-50%);
  padding-right: 52.9px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 33px;
}
.description__text-content p {
  font-size: 1.4rem;
  font-weight: normal;
  color: black;
  
}
.education__content-list-item p::before {
  content: "";
  position: absolute;
  left: -3%;
  top: 0.5em; /* aligns bullet vertically with first text line */
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

.description__content {
  width: 50%;
  height: 100%;
  position: relative;
}


.portfolio__container {
  width: 100vw;
  height: max-content;
  margin-top: 137.3px;
  display: flex;
  justify-content: center;
  margin-bottom: 212px;
}
.portfolio__content {
  width: 60%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__content-title {
  width: max-content;
  height: max-content;
  margin-bottom: 100.7px;
}
.portfolio__content-title h2 {
  color: white;
  font-size: 3.2rem;
}
.portfolio__content-items {
  width: 90%;
  height: max-content;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: -34px;
}
.portfolio__content-item a {
  /*! display:block; */
  width: max-content;
  height: max-content;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.portfolio__content-item {
  width: max-content;
  height: max-content;
}
.portfolio__content-item a img {
object-fit:cover;
  width: 337px;
height: auto;
border: 2px solid white;
/*! margin-bottom: 90px; */
}
.portfolio__content-item-text > h2 {
  color: white;
  text-align: center;
  margin-bottom: 12px;
  font-size: 2.2rem;
}

.portfolio__content-item-keywords {
  display: flex;
  justify-content: start;
  column-gap: 10px;
}
.portfolio__content-item-text {
  margin-left: 34px;
  width: 13.0%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.portfolio__content-item-text > p {
  color: white;
  font-size: 1.5rem;
  /*! width: 821.5px; */
  line-height: 1.3em;
}
.portfolio__content-item-keywords p {
  color: white;
  font-size: 1rem;
}

.experience__container {
  width: 100vw;
  height: max-content;
  margin-top: 107px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.experience__content {
  width: 60%;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: center;
  align-items: center;
}
.experience__content-item {
  width: auto;
  height: max-content;
  display: flex;
}
.experience__content-item h2 {
  color: white;
  /*! font-size: 1.3rem; */
}
.experience__content-item-text small {
  color: white;
  font-size: 1.1rem;
}
.experience__content-item p {
  color: white;
  /*! font-size: 1rem; */
}

.experience__content-title {
  width: max-content;
  height: max-content;
}
.experience__content-title h2 {
  color: white;
  font-size: 2.6rem;
}

.experience__content-items {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: start;
  /*! margin-left: 128px; */
  flex-direction: column;
  row-gap: 105px;
}

.header-section__image {
  width: max-content;
  height: max-content;
}
.header-section__image img {
  object-fit: cover;
  --image-size:234px;
  width: var(--image-size);
  height: var(--image-size);
  border-radius: 100%;
}
.header-section__content {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description__content p {
  color: white;
  font-size: 1.6rem;
  line-height: 1.3em;
}
.description__container.one {
  margin-top: 117px;
  margin-bottom: 68px;
}
.header-section__container {
  margin-top: 41px;
  width: 100vw;
  height: max-content;
}

.description__container.two {
  margin-bottom: 78px;
}

.education__text-content {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 31px;
}

.experience__content-item-text {
  width: max-content;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
}
.experience__content-item * {
  font-size: 1.7rem;
  color: white;
}

.experience__content h2 {
  color: white;
  font-size: 3.0rem;
  margin-bottom: 84.9px;
}

.experience__image-content-icon {
  width: 215px;
  border: 2px solid white;
  height: auto;
  border-radius: 31.3px;
}

.experience__content-item-text h3 {
  font-size: 2.3rem;
  margin-bottom: 8.6px;
  width: 469px;
}
.experience__content-item-text h4 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.experience__content-below ul li {
  font-size: 1.3rem;
  line-height: 1.3em;
}
.experience__content-below ul {
  padding-left: 21.9px;
  width: auto;
  display: flex;
  flex-direction: column;
  row-gap: 14.0px;
}
.experience__text-content {
  width: auto;
  height: max-content;
  padding-left: 23px;
}
.experience__image-content {
  width: max-content;
  height: max-content;
}


.experience__content-item-text small:first-of-type {
  margin-bottom: 6.8px;
}

.description__container.three {
  margin-bottom: 274px;
}


.experience__content-below {
  width: 596px;
}